---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>

<p class="post-created-by">
  <strong>Created By:</strong> {{ page.post_created_by }}
</p>

<p class="post-last-edited">
  <strong>Last Edited On:</strong> {{ page.last_modified_at | date: site.events_date_format }}
</p>

{% assign stripped_content = content | strip %}
{% if stripped_content != "" %}
<div class="post-content">
  <div class="post-content-inner">{{ content }}</div>
</div>
{% endif %}
{% if page.post_images and page.post_images.size > 0 %}
    <div class="post-gallery-box">
        <h2>Gallery</h2>
        <div class="post-gallery-grid">
            {% for image in page.post_images %}
                <div class="post-gallery-item">
                    <picture>
                        <img class="post-gallery-thumbnail announcement-img-lightbox"
                             src="{{ image.thumbnail_url }}"
                             alt="{{ image.alt_text }}"
                             {% if forloop.index > 3 %}loading="lazy"{% endif %}
                             data-full-image="{{ image.original_url }}"
                             data-image-order="{{ image.order }}"
                             style="height: 11rem;
                                    width: auto;
                                    object-fit: cover" />
                    </picture>
                    {% if image.caption and image.caption != "" %}<p class="post-gallery-caption">{{ image.caption }}</p>{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
